@namespace AntDesign.Docs.Components

<section class="main-container main-container-component">
    <article>

        @if (DemoComponent != null)
        {
            var title = $"{DemoComponent.SubTitle} {DemoComponent.Title} - Ant Design Blazor".Trim();
            <PageTitle>@title</PageTitle>
            var docDemos = DemoComponent.DemoList?.Where(x => x.Docs.HasValue && x.Docs.Value) ?? Enumerable.Empty<DemoItem>();
            var demos = DemoComponent.DemoList?.Where(x => !x.Debug && !x.Docs.HasValue).OrderBy(x => x.Order) ?? Enumerable.Empty<DemoItem>();

            if (demos.Any())
            {
                <div class="toc-affix">
                    <Affix OffsetTop="16">
                        <Anchor Key="@DemoComponent.Title">
                            @foreach (var demo in demos)
                            {
                                <AnchorLink Href="@($"/{CurrentLanguage}/components/{DemoComponent.Title}#components-{DemoComponent.Title.ToLower()}-demo-{demo.Name}")" Title="@demo.Title" />
                            }
                            @if (!string.IsNullOrEmpty(DemoComponent.ApiDoc))
                            {
                                <AnchorLink Href="@($"/{CurrentLanguage}/components/{DemoComponent.Title}#API")" Title="API" />
                            }
                        </Anchor>
                    </Affix>
                </div>
            }

            <section class="markdown">
                <h1>
                    @DemoComponent.Title
                    <span class="subtitle">@DemoComponent.SubTitle</span>
                    <span class="widget"></span>
                    <Tooltip Title="@Localizer["app.content.edit-demo"]">
                        <Unbound>
                            <a @ref="context.Current" href="@EditUrl" class="edit-button" rel="noopener noreferrer" target="_blank">
                                <Icon Type="edit" />
                            </a>
                        </Unbound>
                    </Tooltip>
                </h1>
                <section class="markdown">
                    @((MarkupString)DemoComponent.Desc)
                </section>

                @if (_rendered)
                {
                    @foreach (var docDemo in docDemos)
                    {
                        <RazorBox Demo="@docDemo" @key="@($"{DemoComponent.Title}-{docDemo.Type}")" />
                    }
                }
                else
                {
                    <Skeleton ParagraphRows="3" Active></Skeleton>
                }
                @if (demos.Any())
                {
                    <h2 data-scrollama-index="1">
                        @Localizer["app.component.examples"]
                        <span class="all-code-box-controls">
                            @if (DemoComponent.Cols != 1)
                            {
                                @if (_expanded)
                                {
                                    <Icon Type="compress" Class="code-box-expand-trigger" OnClick="() => _expanded = false " />
                                }
                                else
                                {
                                    <Icon Type="expand" Class="code-box-expand-trigger" OnClick="() => _expanded = true " />
                                }
                            }
                            <Icon Type="code" Theme="@(_expandAllCode ? "fill":"outline")" Class="code-box-expand-trigger" OnClick="()=>_expandAllCode=!_expandAllCode" />
                            @*<Icon Type="bug" Class="code-box-expand-trigger" />*@
                        </span>
                    </h2>
                }
            </section>

            @if (demos.Any())
            {
                <Row Style="margin-left: -8px; margin-right: -8px;">
                    @if (DemoComponent.Cols == 1 || _expanded)
                    {
                        foreach (var demo in demos)
                        {
                            <AntDesign.Col Span="24" Class="code-boxes-col-1-1" Style="padding-left: 8px; padding-right: 8px;">
                                <CodeBox CodeExpand="_expandAllCode" Demo="demo" @key="demo.TypeName" ComponentName="@DemoComponent.Title"></CodeBox>
                            </AntDesign.Col>
                        }
                    }
                    else
                    {
                        var leftList = demos.Where((_, i) => i % 2 == 0);
                        var rightList = demos.Where((_, i) => i % 2 != 0);

                        <AntDesign.Col Span="12" Class="code-boxes-col-2-1" Style="padding-left: 8px; padding-right: 8px;">
                            @foreach (var demo in leftList)
                            {
                                <CodeBox CodeExpand="_expandAllCode" Demo="demo" @key="demo.TypeName" ComponentName="@DemoComponent.Title"></CodeBox>
                            }
                        </AntDesign.Col>
                        <AntDesign.Col Span="12" Class="code-boxes-col-2-1" Style="padding-left: 8px; padding-right: 8px;">
                            @foreach (var demo in rightList)
                            {
                                <CodeBox CodeExpand="_expandAllCode" Demo="demo" @key="demo.TypeName" ComponentName="@DemoComponent.Title"></CodeBox>
                            }
                        </AntDesign.Col>
                    }
                </Row>
            }
           
            <section class="markdown api-container">
                @((MarkupString)DemoComponent.ApiDoc)
            </section>
        }
        else
        {
            <Skeleton ParagraphRows="3" Active></Skeleton>
        }
    </article>
    <ContributorsList FilePaths="_filePaths" />
</section>